* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  align-items: center;
  margin: 20px;
}
.img-container img {
  width: 170px;
}

.nav-container ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0px 20px;
}
.nav-container ul li {
  font-size: 20px;
}

.body {
  padding: 30px;
}
.search button {
  text-align: center;
  cursor: pointer;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 250px;

  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  display: flex;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 10px;
  flex-direction: column;
  margin: 20px;
  background-color: #f0f0f0;
  cursor: pointer;
}
.card img {
  height: 100px;
  width: 100%;
}
.desc {
  text-align: left;
}
